[submodule "OAG-entity-alignment"]
	path = OAG-entity-alignment
	url = https://github.com/THUDM/OAG-entity-alignment.git
[submodule "academic-influence-prediction/citation-prediction"]
	path = academic-influence-prediction/citation-prediction
	url = https://github.com/THUDM/citation-prediction.git
[submodule "academic-influence-prediction/tot-prediction"]
	path = academic-influence-prediction/tot-prediction
	url = https://github.com/THUDM/tot-prediction.git
