[submodule "OAG-entity-alignment"]
	path = OAG-entity-alignment
	url = https://github.com/THUDM/OAG-entity-alignment.git
[submodule "academic-influence-prediction/citation-prediction"]
	path = academic-influence-prediction/citation-prediction
	url = https://github.com/THUDM/citation-prediction.git
[submodule "academic-influence-prediction/tot-prediction"]
	path = academic-influence-prediction/tot-prediction
	url = https://github.com/THUDM/tot-prediction.git
[submodule "code-assets/P-tuning-v2"]
	path = code-assets/P-tuning-v2
	url = https://github.com/THUDM/P-tuning-v2.git
[submodule "author-name-disambiguation"]
	path = author-name-disambiguation
	url = https://github.com/THUDM/whoiswho-top-solutions.git
[submodule "concept-taxonomy-completion"]
	path = concept-taxonomy-completion
	url = https://github.com/THUDM/OAG-taxo.git
